* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: whitesmoke;
}


h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 2.7em;
    color: whitesmoke;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.24em;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    width: 100%;
    height: 80px; /* Asegúrate de que este valor sea suficiente */
    background-color: #e81010;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 30px 30px;
}


.bars {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}


.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #e81010;
    background-color: #323232;
}

.nav-bar ul li a.active {
    color: #e81010;
    background-color: #323232;
}

.button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: whitesmoke;
    background-color: #e81010;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.button:hover span {
    padding-right: 25px;
    transition: 0.5s;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: #323232;
    color: #e81010;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
    ),
    url("/src/img/Cazuela-Dia-Cocina-Chilena-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
    margin-bottom: 10px; /* Ajusta este valor para reducir el espacio */
}

#hero h2 {
    margin-top: 20px;
    margin-bottom: 100px; /* Ajusta este valor para reducir el espacio */
}

#About-us {
    padding: 2rem;
    background-color: #323232;
    height: auto; /* Permite que la altura se ajuste al contenido */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
    ),
    url("/src/img/Cocineros.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
}


#About-us p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#746743;
    padding: 5px;
    font-size: small;
    text-align: justify;

}

.Card {
    background-color: #323232;
    border-radius: 10px;
    padding: 20px;
    margin: 15px; /* Espacio entre tarjetas */
    flex: 1; /* Asegura que todas las tarjetas tengan el mismo tamaño */
    max-width: 300px; /* Ajusta el tamaño máximo de las tarjetas */
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.Info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
}


.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px; 
}

.button-container .button {
    margin-left: 0; /* Elimina el margen a la izquierda si lo deseas */
}


.Esencia h3{
    color: #e81010;
    margin: 10px 0; 
    font-size: 25px;
}

.Lugar h3{
    color: #4212f2;
    margin: 10px 0; 
    font-size: 25px;
}

.Especialidad h3{
    color:whitesmoke;
    margin: 10px 0; 
    font-size: 25px;
}



#events-news {
    padding: 2rem;
    background-color: #323232;
    color: whitesmoke;
}

.news-section {
    text-align: center;
    margin-bottom: 2rem;
}

.news-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.news-item {
    background-color: #202020;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.news-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.news-item h3 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #e81010;
}

.news-item p {
    margin-top: 10px;
    font-size: 1em;
}


#Adm_reserva {
    text-align: center;
    background-color: #202020;
}

#Adm_reserva .button {
    display: inline-block;
    margin: 10px;
}

#vdMenu {
    background-color: #323232;
    min-height: calc(100vh - 80px); /* Ajusta el valor según el tamaño del footer */
    padding: 20px;
    padding-top: 120px; /* Ajusta si el header tiene un tamaño diferente */
    padding-bottom: 80px; /* Espacio suficiente para el footer */
}
.menu-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu-navigation .menu-btn {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #e81010;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.menu-navigation .menu-btn.active {
    background-color: #323232;
    color: #e81010;
}

/* Oculta todas las secciones de menú por defecto */
.menu-section {
    display: none;
}


/* Muestra la sección activa */
.menu-section.active {
    display: block;
}
.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #746743; /* Línea que separa los ítems */
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  .menuInfo {
    flex: 1;
    max-width: 70%; /* Controla el ancho máximo para el nombre y la descripción */
  }
  
  .menuName {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left; /* Alineación a la izquierda */
    margin: 0;
    color: #e81010;
  }
  
  .menuDescription {
    font-size: 0.9em;
    color: whitesmoke;
    text-align: left;
    margin: 5px 0 0; /* Espacio entre el nombre y la descripción */
  }
  
  .menuPrice {
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap; /* Evita que el precio se rompa en varias líneas */
    margin-left: 20px; /* Añade espacio entre el precio y el texto */
    color: #746743;
  }
  
  /* Estilo adicional para el contenedor del botón de descargar menú */
  #vdMenu .downloadMenu-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

.downloadMenu{
    font-size: 1.3em;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: whitesmoke;
    background-color: #e81010;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.downloadMenu:hover {
    background-color: #323232;
    color: #e81010;
}



footer {
    background-color: #202020;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
}

footer p {
    margin: 0;
    color: rgb(100, 100, 100);
    font-size: 0.8rem;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .container-a {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #e81010;
}

/* Vista PC */
@media (max-width: 900px) {
    h1 {
        font-size: 110px;
    }

    h2 {
        font-size: 25px;
    }

    header {
        padding: 0px 30px;
        justify-content: space-between;
    }

    .bars {
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: whitesmoke;
        margin: 6px 0px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #323232;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    #hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: auto;
        width: 100%;
    }

    footer .container {
        justify-content: flex-end;
    }
}
