* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}



body {
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: whitesmoke;
    padding-top: 50px; /* Espacio adicional para el navbar */
}



h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 2.7em;
    color: whitesmoke;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.24em;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    width: 100%;
    height: 80px; /* Asegúrate de que este valor sea suficiente */
    background-color: #e81010;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 30px 30px;
}


.bars {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}


.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #e81010;
    background-color: #323232;
}

.nav-bar ul li a.active {
    color: #e81010;
    background-color: #323232;
}

.button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: whitesmoke;
    background-color: #e81010;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.button:hover span {
    padding-right: 25px;
    transition: 0.5s;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: #323232;
    color: #e81010;
}

#res {
    background-color: #202020; /* Fondo del formulario */
    padding: 40px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra */
    margin: 60px auto 20px auto; /* Margen superior más grande para separarlo del navbar */
    max-width: 500px; /* Ancho máximo */
}


form {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}

label {
    margin-bottom: 5px; /* Espaciado entre etiqueta y campo */
    font-weight: bold; /* Texto en negrita */
}

input, select {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #e81010; /* Borde del campo */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-bottom: 15px; /* Espaciado entre campos */
    background-color: #323232; /* Fondo del campo */
    color: whitesmoke; /* Color del texto */
}

input::placeholder {
    color: #aaa; /* Color del texto de los placeholders */
}

button {
    padding: 12px; /* Espaciado interno */
    background-color: #e81010; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    color: whitesmoke; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #323232; /* Color al pasar el ratón */
    color: #e81010; /* Color del texto al pasar el ratón */
}

footer {
    background-color: #202020;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
}

footer p {
    margin: 0;
    color: rgb(100, 100, 100);
    font-size: 0.8rem;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .container-a {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #e81010;
}

/* Vista PC */
@media (max-width: 900px) {
    h1 {
        font-size: 110px;
    }

    h2 {
        font-size: 25px;
    }

    header {
        padding: 0px 30px;
        justify-content: space-between;
    }

    .bars {
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: whitesmoke;
        margin: 6px 0px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #323232;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    #hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: auto;
        width: 100%;
    }

    footer .container {
        justify-content: flex-end;
    }
}
